<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Аренда премиальных автомобилей</title>
    <link rel="stylesheet" href="{% static 'car/style.css' %}">
</head>
<body>

<header class="header">
    <div class="container">
        <div class="logo">
           <img src="{% static 'car/images/logo.png'%}" alt="logo">
        </div>
        <nav class="menu">
            <ul>
                {% for m in menu %}
                    <li class="menu-item"> <a id = "{{ m.id }}">{{ m.title }}</a></li>
                {% endfor%}
            </ul>
        </nav>
    </div>
</header>

<section class="main" id="main">
    <div class="container">
        <div class="main-info">
            <h1 class="main-title">Аренда премиальных автомобилей</h1>
            <div class="main-text">
                В нашем клубе имеется солидная коллекция спортивных автомобилей — от достаточно распространенных
                серийных машин до настоящего гоночного эксклюзива. Воспользуйтесь уникальной возможностью побывать за
                рулем настоящей легенды и узнать, на что она способна за пределами гоночной трассы!
            </div>
            <div class="main-action">
                <button class="button" id="main-action">Посмотреть автомобили</button>
            </div>
        </div>
    </div>
</section>

<section class="car" id="cars">
    <div class="container">
        <h2 class="sub-title">Наш автопарк</h2>
        <div class="car-items">
             {% for element in cars %}
            <div class="car-item">
                <div class="car-item-image">
                    <img src="{{ 'static/' }}car/images/{{ element.id }}.png"  alt="Image">
                </div>
                <div class="car-item-title">{{ element.name_car }}</div>
                <div class="car-item-info">
                    <div class="car-item-point">
                        <img src="{% static 'car/images/transmission.png' %}" alt="Transmission">
                        <div>Коробка</div>
                        <div>{{ element.transmission }}</div>
                    </div>
                    <div class="car-item-point">
                        <img src="{% static 'car/images/wheel.png'%}" alt="Wheel">
                        <div>Двигатель</div>
                        <div>{{ element.enginе }}</div>
                    </div>
                    <div class="car-item-point">
                        <img src="{% static 'car/images/year.png'%}" alt="Year">
                        <div>Год выпуска</div>
                        <div>{{ element.year }}</div>
                    </div>
                </div>
                <div class="car-item-action">
                    <button class="button car-button" onclick="">Забронировать</button>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="price" id="price">
    <div class="container">
        <h2 class="sub-title">Узнать цену и забронировать</h2>
        <div class="price-text">Заполните данные, и мы перезвоним вам для уточнения всех деталей бронирования</div>
        <form method="post" class="price-form">
            {% csrf_token %}
            {{ form.name }}
            {{ form.phone_number }}
            {{ form.car }}
            <span>{{ error }}</span>
            <span>{{ succes_record }}</span>
            <button class="button" type="submit" id="price-action">Узнать цену</button>
        </form>
        <img src="{% static 'car/images/rolls.png'%}" alt="Rolls" class="price-image">
    </div>
</section>


<footer class="footer">
    <div class="container">
        <div class="logo">
            <img src="{% static 'car/images/logo.png'%}" alt="logo">
        </div>
        <div class="rights">Все права защищены</div>
    </div>
</footer>

<script src="{% static 'car/scripts/script.js' %}"></script>
</body>
{% load static %}
</html>